@using Back_End_Project.Models
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
}




<div class="card-body">



    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Point</th>
                    <th>Teacher</th>


                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Skill skill in Model)
                {

                    <tr>
                        <td>@skill.Id</td>

                        <td>
                          @skill.Name
                        </td>

                        <td>@skill.Point</td>
                        <td>@skill.Teacher.Name</td>


                        <td>
                            <a class="btn btn-warning" asp-route-id="@skill.Id" asp-action="Update">Update</a>
                            <a class="btn btn-danger" asp-route-id="@skill.Id" asp-action="Delete">Delete</a>

                        </td>

                    </tr>
                }


            </tbody>
        </table>
        <a class="create_button btn btn-success" asp-action="Create">  Create </a>

    </div>




</div>
    </div>
    </div>


